<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col class="center center-vertically">
        <!-- Title -->
        <h1>{{ title }}</h1>
      </ion-col>
    </ion-row> 
    <ion-row>
      <ion-col class="center">
        <!-- Initial state -->
        <div *ngIf="showInitial">
          <div>
            <h4 class="">Descubra os números da Mega-Sena</h4>
          </div>
          <br><br>
          <div>
            <button ion-button (click)="toggle()">Descubra</button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Complete state -->
  <div *ngIf="showComplete" class="center">
    <h4>{{ lottoNumbers }}</h4>
  </div>
  <br><br>

  <!-- Donate button -->
  <div class="center" *ngIf="showComplete">
    <br><br>
    <h5 class="header col s12 light">Não se esqueça dos 10% dos astros!</h5>
    <br><br>
    <button ion-button (click)="restart()">Consultar o Sábio Novamente</button>
  </div>
</ion-content>
