.center {
    text-align: center;
}

.center-vertically {
    padding-top: 25%;
}

.button-md {
    background-color: #FF9800;
}

.button.activated {
    background-color: #FF9800;
}

h1 {
    font-size: 3em;
    color: #FF9800;
}

h4 {
    font-size: 2em;
}
// .button:focus {
//     background-color: #FF9800;
// }